body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-grey-dark {
  background-color: #1e1e1e;
}

.text-purple {
  color: #c77dff !important;
}

.border-purple {
  border-color: #c77dff !important;
}

.btn-outline-purple {
  border: 1px solid #c77dff;
  color: #c77dff;
}
.btn-outline-purple:hover {
  background-color: #c77dff;
  color: #1e1e1e;
}
